// .filter {
//   display: flex;
//   flex-direction: column;
//   gap: 12px;
//   color: #fff;

//   h1 {
//     font-weight: 400;
//     font-size: 24px;
//     color: #bbb;
//   }

//   .item {
//     display: flex;
//     flex-direction: column;
//     gap: 5px;

//     label {
//       font-size: 13px;
//       color: #aaa;
//     }

//     input,
//     select {
//       width: 100px;
//       padding: 8px 10px;
//       border-radius: 6px;
//       background: rgba(255, 255, 255, 0.05);
//       border: 1px solid rgba(255, 255, 255, 0.12);
//       color: #bbb;
//       font-size: 13px;
//       outline: none;

//       &::placeholder {
//         color: #bbb;
//       }
//     }

//     select {
//       appearance: none;
//       background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg width='14' height='14' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M4 6l4 4 4-4z'/%3E%3C/svg%3E");
//       background-repeat: no-repeat;
//       background-position: right 8px center;
//       background-size: 12px;
//     }
//   }

//   .top {
//     input {
//       width: 100%;
//     }
//   }

//   .bottom {
//     display: flex;
//     justify-content: space-between;
//     flex-wrap: wrap;
//     gap: 12px;

//     button {
//       width: 100%;
//       padding: 8px;
//       border: none;
//       cursor: pointer;
//       background: #fece51;
//       box-shadow: 0 0 8px rgba(254, 206, 81, 0.5);
//       border-radius: 6px;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       gap: 6px;

//       &:hover {
//         background: #ffb700;
//         box-shadow: 0 0 8px rgba(254, 206, 81, 0.5);
//       }

//       img {
//         width: 18px;
//         height: 18px;
//         filter: brightness(0) saturate(100%);
//       }
//     }
//   }
// }






@use "../../responsive.scss";

.filter {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #fff;

  h1 {
    font-weight: 400;
    font-size: 24px;
    color: #bbb;
  }

  .item {
    display: flex;
    flex-direction: column;
    gap: 5px;

    label {
      font-size: 13px;
      color: #aaa;
    }

    input,
    select {
      width: 100px;
      padding: 8px 10px;
      border-radius: 6px;
      background: rgba(255, 255, 255, 0.05);
      border: 1px solid rgba(255, 255, 255, 0.12);
      color: #bbb;
      font-size: 13px;
      outline: none;

      &::placeholder {
        color: #bbb;
      }
    }

    select {
      appearance: none;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg width='14' height='14' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M4 6l4 4 4-4z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: right 8px center;
      background-size: 12px;
    }
  }

  .top {
    input {
      width: 100%;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;

    button {
      width: 100%;
      padding: 8px;
      border: none;
      cursor: pointer;
      background: #fece51;
      box-shadow: 0 0 8px rgba(254, 206, 81, 0.5);
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;

      &:hover {
        background: #ffb700;
        box-shadow: 0 0 8px rgba(254, 206, 81, 0.5);
      }

      img {
        width: 18px;
        height: 18px;
        filter: brightness(0) saturate(100%);
      }
    }
  }



  /* THREEFORTHDESKTOP Responsive */
  @include responsive.threeforthdesktop {
    padding: 30px;

    h1 {
      font-size: 26px;
    }

    .top input {
      max-width: 100%;
      font-size: 15px;
    }

    .bottom {
      flex-direction: row;
      gap: 5px;
      .item{
        width: 100%;
        label {
          font-size: 15px;
        }

        input,
        select {
          width: 100%;
          font-size: 15px;
          padding: 8px 8px;
        }

        button {
          padding: 8px 10px;
          font-size: 15px;
        }
      }
    }
  }

  /* HALF DESKTOP Responsive */
  @include responsive.halfdesktop {
    padding: 25px;

    h1 {
      font-size: 24px;
    }

    .top input {
      font-size: 14px;
    }

    .bottom {
      flex-direction: row;
      gap: 8px;

      .item label {
        font-size: 12px;
      }

      .item input,
      .item select {
        font-size: 12px;
        padding: 8px 10px;
      }

      button {
        padding: 8px 10px;
        font-size: 13px;
      }
    }
  }

  /* PHONE Responsive */
  @include responsive.phone {
    padding: 20px;

    h1 {
      font-size: 20px;
    }

    .top {
      .item{
        width: 100%;
        input {
          font-size: 13px;
          padding: 8px 10px;
        }
      }
    }

    .bottom {
      flex-direction: column;
      gap: 12px;

      .item {
        width: 100%;
        
        label {
          font-size: 13px;
        }

        input,
        select {
          font-size: 13px;
        }

      }
      button {
          width: 100%;
          padding: 10px;
          font-size: 13px;
      }
    }
  }

}